@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
    background-color: rgba(0, 0, 0, 100);
}

#Window {
    /* window */
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 150);
}

#Canvas {
    /* Book Window */
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    display: flex;
    overflow: auto;
}

.book {
    /* Book Content */
    margin: 1em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*  font-family: 'Bacasime Antique', serif; */
    font-size: x-large;

    .chapter p {
        line-height: 1em;
        margin-bottom: 1em;
        /* between paragraphs */
    }
}

.book::-webkit-scrollbar {
    display: none;
}


.status {
    position: fixed;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
}

.splash-screen {
    background-color: rgba(0, 0, 0, 150);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style for the title "AReader Library" */
.ssTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Pirata One', cursive;
}

/* Style for the book options */
.ssOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for individual book options */
.book-option {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Ensure book options wrap into 2x2 when screen size is smaller */
@media (max-width: 768px) {
    .ssOptions {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .book-option {
        flex: 0 0 50%;
        margin: 10px;
    }
}

/* Hover effect on book options with glow */
.book-option:hover {
    transform: scale(1.1);
}

/* Adjust image size within the book options */
.book-option img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}