@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background-color: rgba(15, 15,15, 0);
    /* background-image: url("/ExtraImages/room.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

#Window {
    /* window */
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color:transparent;
}

#Canvas {
    /* Book Window */
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 100%;
    display: flex;
    overflow: auto;
    border-radius: 20px;
}

.book {
    /* Book Content */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Bacasime Antique', serif;
    font-size: x-large;
    color: whitesmoke;
    
    text-align: justify;
    /*text-shadow:
    -1px -1px 0 #eee,
    1px -1px 0 #eee,
    -1px 1px 0 #eee,
    1px 1px 0 #eee;  */

    p {
        line-height: 1.25em;
        text-indent: 1.5em;
        margin-bottom: 1.25em;
    }
}

.book::-webkit-scrollbar {
    display: none;
}

.splash-screen {
    background-color: rgba(0, 0, 0, 150);
    color: aliceblue;
    margin: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for the title "AReader Library" */
.ssTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1.8%;
    margin-top: 2%;
    font-family: 'Archivo Black', sans-serif;

}

/* Style for the book options */
.ssOptions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

/* Style for individual book options */
.book-option {
    margin: 2%;
    cursor: pointer;
    transition: transform 0.4s ease;
    height: 18%;
    flex: 1 0 21%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.book-option-2 {
    margin: 0%;
    cursor: pointer;
    transition: transform 0.4s ease;
    height: 6%;
}


/* Ensure book options wrap into 2x2 when screen size is smaller */
@media (max-width: 80%) {
    .ssOptions {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .book-option {
        flex: 0 0 26%;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    
}

/* Hover effect on book options with glow */
.book-option:hover {
    transform: scale(1.15);

}

.book-option-2:hover {
    transform: scale(1.15);

}

/* Adjust image size within the book options */
.book-option img {
    display: block;
    max-width: 15em;
    height: auto;
    border-radius: 10px;


}

.book-option-2 img {
    max-width: 10em;
    height: auto;
    border-radius: 10px;
}

.break {
    flex-basis: 100%;
    height: 2em;
}