@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
    background-color: rgba(0, 0, 0, 100);
}

#Window {
    /* window */
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 150);
}

#Canvas {
    /* Book Window */
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    display: flex;
    overflow: auto;
}

.book {
    /* Book Content */
    margin: 1em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*  font-family: 'Bacasime Antique', serif; */
    font-size: x-large;

    .chapter p {
        line-height: 1em;
        margin-bottom: 1em;
        /* between paragraphs */
    }
}

.book::-webkit-scrollbar {
    display: none;
}


.status {
    position: fixed;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
}

.splash-screen {
    background-color: rgba(0, 0, 0, 150);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    overflow: auto;

    .ssTitle {
        width:100%;
        h1 {
        font-family: 'Pirata One', cursive;
    }}
}

.ssOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .book-option img {
        max-width: 100%;
    }
}